// @use "../globals/colors" as c;

.header {
    margin: 0 auto;

    &-nav {

        &-ul {
            display: flex;
            justify-content: center;
            align-items: center;

            &-li {
                list-style: none;
                text-align: center;
                background-color: var(--color-transparant);

                &:hover {
                    background-color: var(--color-slate-gray);
                }
            }
        }
    }
}